<div class="about slide" data-slide="1">
	<div class="js-animate">
		<h1>Hi, I'm <span class="call-out--large lightest">Yoshie</span>. <span class="no-wrap">I am</span> a <span class="call-out--small no-wrap lighter">web developer</span> with a background in <span class="call-out--small light">design</span>. Currently I’m a front-end developer on the design team at American Express Enterprise Growth.</h1>
	</div>
</div>