<div class="contact" data-slide="2" style="display:none">
	<div class="js-animate">
		<h1 class="call-out--large lightest">Yoshie Muranaka</h1>
		<h3>Front end developer</h3>
		<p>yoshiemuranaka@gmail.com</p>
	</div>
</div>