<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>	

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Yoshie Muranaka</title>
	<meta name="description" content="Yoshie Muranaka personal site">
	<meta name="author" content="Yoshie Muranaka">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel='stylesheet' href='/stylesheets/main.css'>

	<!-- Javascripts
  ================================================== -->

  <script type="text/javascript" src="/scripts/jquery-1.11.3.min.js"></script>


</head>

<body>

<div class="main-content">

	<div class="about">
		<div class="js-animate">
			<h1>Hi, I'm <span class="call-out--large">Yoshie</span>. I am a <span class="call-out--small no-wrap">web developer</span> with a background in <span class="call-out--small">design</span></h1>
		</div>
	</div>

	<div class="contact">
		<div class="js-animate">
			<h2>Yoshie Muranaka</h2>
			<h3>Front end developer</h3>
			<p>yoshiemuranaka@gmail.com</p>
		</div>
	</div>


</div>

<div class="footer">

</div>

</body>
</html>
