<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="stylesheets/main.css"/>
</head>
<body>

<h1>Hi, I'm <span class="call-out--large">Yoshie</span>. I am a <span class="call-out--small no-wrap">web developer</span> with a background in <span class="call-out--small">design</span></h1>
<h3>yo</h3>


</body>
</html>