/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

strong {
  font-weight: bold; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

/* For iPhone - Mobile Safari automatically scales text if it thinks the text will render too small */
body {
  -webkit-text-size-adjust: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements*/
/* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ (after Paul Irish)*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.no-wrap {
  white-space: nowrap; }

.light {
  color: #333333; }

.lighter {
  color: #4D4D4D; }

.lightest {
  color: #666666; }

h1,
h2,
h3,
h4,
p {
  text-rendering: optimizeLegibility; }

h1 {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 300;
  line-height: 1.35em;
  letter-spacing: .01em; }

h2,
h3 {
  font-family: 'HelveticaNeue-Condensed', 'Helvetica Neue Condensed', Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -.02em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

p {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.15em;
  margin-bottom: .65em;
  letter-spacing: .01em; }

.call-out--large {
  font-family: 'HelveticaNeue-Condensed', 'Helvetica Neue Condensed', Helvetica, Arial, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  line-height: 0;
  letter-spacing: -.02em; }
  @media only screen and (min-width: 43.75em) {
    .call-out--large {
      font-size: 1.5em; } }

.call-out--small {
  font-family: 'HelveticaNeue-Condensed', 'Helvetica Neue Condensed', Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 0;
  letter-spacing: -.02em; }
  @media only screen and (min-width: 43.75em) {
    .call-out--small {
      font-size: 1.15em; } }

.accent {
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s; }
  .accent:hover {
    color: hotpink;
    cursor: pointer; }

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #4D4D4D;
  background: #fff; }
  @media only screen and (min-width: 43.75em) {
    body {
      font-size: 125%; } }

.main-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-right: 3%;
  padding-bottom: 140px;
  padding-left: 3%;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center; }
  @media only screen and (max-height: 40em) {
    .main-content {
      padding-top: 25px;
      padding-bottom: 75px; } }

.center {
  overflow: auto;
  max-width: 600px;
  margin: 0 auto;
  -webkit-transition: font-size 0.4s;
  -moz-transition: font-size 0.4s;
  -ms-transition: font-size 0.4s;
  transition: font-size 0.4s; }

.slide {
  padding-top: 20px;
  padding-bottom: 30px; }

.js-animate {
  opacity: 0;
  transform: translateY(20px); }

.slide.active .js-animate {
  opacity: 1;
  transform: translateY(0);
  -webkit-transition: opacity 1.25s, transform 1.25s; }

.footer {
  font-size: 16px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 140px;
  text-align: center;
  color: #fff;
  background: #4D4D4D;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center; }
  @media only screen and (max-height: 40em) {
    .footer {
      font-size: 14px;
      height: 70px; } }

/*# sourceMappingURL=main.css.map */
