body
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 100%;

    color: $default-font;
    background: $body;

    @include mq(medium)
    {
        font-size: 125%;
    }
}

.main-content
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding-right: 3%;
    padding-bottom: 140px;
    padding-left: 3%;

    @include flexbox(column, center);
    @include mq(short)
    {
        padding-top: 25px;
        padding-bottom: 70px;
    }
}

@include mq(short) {
    .main-content:after {   
        position: absolute;
        z-index: 10;
        bottom: 0;

        width: 100%;
        height: 200px;

        content: '';

        @include gradient();
    }
}


.center
{
    overflow: auto;

    max-width: 600px;
    margin: 0 auto;

    @include transition(font-size, .2s);
}

.slide
{
    padding-top: 20px;
    padding-bottom: 30px;
}

.js-animate
{
    transform: translateY(40px);

    opacity: 0;
}

.slide.active .js-animate
{
    -webkit-transition: opacity 1.5s ease, transform 1.5s ease;
    transform: translateY(0);

    opacity: 1;
}
