.main-content
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding-right: 3%;
    padding-bottom: 140px;
    padding-left: 3%;

    @include flexbox(column, center);

    @include mq(short) {
        padding-bottom: 50px;
    }
}

.center
{
    overflow: scroll;

    max-width: 600px;
    margin: 0 auto;
}
