h1,
h2,
h3,
h4,
p
{
    text-rendering: optimizeLegibility;
}


h1
{
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.35em;

    letter-spacing: .01em;

    margin-bottom: .5em;

}


h2
{
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.35em;

    letter-spacing: .01em;
}

p
{
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.15em;
    font-weight: 300;
    line-height: 1.25em;

    margin-bottom: .65em;

    letter-spacing: .01em;
}

.call-out--large
{
    font-family: 'HelveticaNeue-Condensed', 'Helvetica Neue Condensed', Helvetica, Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 0;

    letter-spacing: -.02em;

    @include mq(medium) {
        font-size: 1.5em;
    }
}

.call-out--small
{
    font-family: 'HelveticaNeue-Condensed', 'Helvetica Neue Condensed', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 0;

    letter-spacing: -.02em;

    @include mq(medium) {
        font-size: 1.15em;
    }
}

a {
    @include transition(color, 0.2s);
    color: inherit;
    text-decoration: none;

    &:hover {
        color: $accent;
        cursor: pointer;

    }
}