.no-wrap
{
    white-space: nowrap;
}

.light
{
    color: $grey-1;
}

.lighter
{
    color: $grey-2;
}

.lightest
{
    color: $grey-3;
}

.accent
{
    font-weight: bold;

    color: $accent;
    &:hover
    {
        border-bottom: 2px solid $accent;
    }
}
